{
    "presets": [
      "@babel/preset-env",
      [
        "@babel/preset-react",
        {
          // 将react.createElement 转化为 TinyReact.createElement
          "pragma": "TinyReact.createElement"
        }
      ]
    ]
  }
  